In [26]:
import boto3 ## Library used to connect to AWS services
import pandas as pd
from io import StringIO

In [27]:
AWS_ACCESS_KEY = "AKIA5KRX4KC7I3O5NYT2"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "covid_19_dataset"
S3_STAGING_DIR = "s3://covid-19-athena-query-results/Unsaved/"
S3_BUCKET_NAME = "covid-19-athena-query-results"
S3_OUTPUT_DIRECTORY = "Unsaved"

In [28]:
athena_client = boto3.client(
"athena",
aws_access_key_id = AWS_ACCESS_KEY,
aws_secret_access_key = AWS_SECRET_KEY,
region_name = AWS_REGION)

In [32]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId = query_response["QueryExecutionId"]
                )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
    "s3",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
    )
    s3_client.download_file(
    S3_BUCKET_NAME,
    f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
    temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [41]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM enigma_jhud LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

In [42]:
response

{'QueryExecutionId': 'c0e06314-fe33-4570-9ec9-2cc5413f37cf',
 'ResponseMetadata': {'RequestId': '256c8aa9-f610-4c7e-a90d-b82d5c7f4b39',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 15 Nov 2022 12:32:33 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '256c8aa9-f610-4c7e-a90d-b82d5c7f4b39'},
  'RetryAttempts': 0}}

In [43]:
enigma_jhud = download_and_load_query_results(athena_client,response)

In [44]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv