In [69]:
import boto3 ## Library used to connect to AWS services
import time
import pandas as pd
from io import StringIO

In [70]:
AWS_ACCESS_KEY = "AKIA5KRX4KC7I3O5NYT2"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "covid_19_dataset"
S3_STAGING_DIR = "s3://covid-19-athena-query-results/Unsaved/"
S3_BUCKET_NAME = "covid-19-athena-query-results"
S3_OUTPUT_DIRECTORY = "Unsaved"

In [71]:
athena_client = boto3.client(
"athena",
aws_access_key_id = AWS_ACCESS_KEY,
aws_secret_access_key = AWS_SECRET_KEY,
region_name = AWS_REGION)

In [72]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId = query_response["QueryExecutionId"]
                )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
    "s3",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
    )
    s3_client.download_file(
    S3_BUCKET_NAME,
    f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
    temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [73]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM enigma_jhud LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

EndpointConnectionError: Could not connect to the endpoint URL: "https://athena.ap-south-1.amazonaws.com/"

In [ ]:
response

In [ ]:
enigma_jhud = download_and_load_query_results(athena_client,response)

In [ ]:
enigma_jhud.head()

In [ ]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM nytimes_data_in_usa_us_county LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client,response)

In [74]:
nytimes_data_in_usa_us_county.head()

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0

In [75]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM nytimes_data_in_usa_us_states LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client,response)

In [76]:
nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [79]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM static_dataset_countrycode LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

static_dataset_countrycode = download_and_load_query_results(athena_client,response)

In [80]:
static_dataset_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [81]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM static_dataset_countypopulation LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

static_dataset_countypopulation = download_and_load_query_results(athena_client,response)

In [82]:
static_dataset_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [83]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM static_dataset_countrycode LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

static_dataset_countrycode = download_and_load_query_results(athena_client,response)

In [84]:
static_dataset_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [85]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM rearc_covid_19_testing_data_states_daily LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

rearc_covid_19_testing_data_states_daily = download_and_load_query_results(athena_client,response)

In [93]:
rearc_covid_19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [94]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM rearc_covid_19_testing_data_us_daily LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

rearc_covid_19_testing_data_us_daily = download_and_load_query_results(athena_client,response)

In [95]:
rearc_covid_19_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524,74579770,11808,40212,878613,8137,45475,2801,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259,74449356,11783,41401,877887,8409,45453,2811,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639,74307155,12213,42541,877384,8634,45373,2889,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852,74035238,12405,44172,874603,8970,45293,2973,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365,73857281,11778,45462,873073,9359,45214,3094,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [96]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM rearc_covid_19_testing_data_us_total_latest LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

rearc_covid_19_testing_data_us_total_latest = download_and_load_query_results(athena_client,response)

In [97]:
rearc_covid_19_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [98]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM rearc_usa_hospital_beds LIMIT 1",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

rearc_usa_hospital_beds = download_and_load_query_results(athena_client,response)

InvalidRequestException: An error occurred (InvalidRequestException) when calling the GetQueryResults operation: Query did not finish successfully. Final query state: FAILED

In [99]:
rearc_usa_hospital_beds.head()

NameError: name 'rearc_usa_hospital_beds' is not defined

In [100]:
response = athena_client.start_query_execution(
QueryString = "SELECT * FROM static_dataset_state_abv LIMIT 100",
QueryExecutionContext = {"Database": SCHEMA_NAME},
ResultConfiguration = {"OutputLocation": S3_STAGING_DIR,
                      "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
                      },
)

static_dataset_state_abv = download_and_load_query_results(athena_client,response)

In [101]:
static_dataset_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [102]:
new_header = static_dataset_state_abv.iloc[0] ## Grab the first row of header

In [103]:
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [104]:
static_dataset_state_abv = static_dataset_state_abv[1:] ## Take the data less than header row

In [105]:
static_dataset_state_abv

                    col0 col1
1                Alabama   AL
2                 Alaska   AK
3                Arizona   AZ
4               Arkansas   AR
5             California   CA
6               Colorado   CO
7            Connecticut   CT
8               Delaware   DE
9   District of Columbia   DC
10               Florida   FL
11               Georgia   GA
12                Hawaii   HI
13                 Idaho   ID
14              Illinois   IL
15               Indiana   IN
16                  Iowa   IA
17                Kansas   KS
18              Kentucky   KY
19             Louisiana   LA
20                 Maine   ME
21               Montana   MT
22              Nebraska   NE
23                Nevada   NV
24         New Hampshire   NH
25            New Jersey   NJ
26            New Mexico   NM
27              New York   NY
28        North Carolina   NC
29          North Dakota   ND
30                  Ohio   OH
31              Oklahoma   OK
32                Oregon   OR
33              Maryland   MD
34         Massachusetts   MA
35              Michigan   MI
36             Minnesota   MN
37           Mississippi   MS
38              Missouri   MO
39          Pennsylvania   PA
40          Rhode Island   RI
41        South Carolina   SC
42          South Dakota   SD
43             Tennessee   TN
44                 Texas   TX
45                  Utah   UT
46               Vermont   VT
47              Virginia   VA
48            Washington   WA
49         West Virginia   WV
50             Wisconsin   WI
51               Wyoming   WY

In [106]:
static_dataset_state_abv.columns = new_header ## set the header row as the df header

In [107]:
static_dataset_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA